{% extends "global/Page.html" %}
{% load  otree %}

{% block title %}
    Questionnaire - Part 4 of 4
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <b>Finally, we will look at situations in which <i>you treat someone else unfairly</i>, discriminate against someone, or exploit someone.</b>
            <br>
            <br>
            Indicate how much the following statements apply to you, from <b>0 - Not at all</b> to <b>5 -Extremely</b>:
        </div>
    </div>


    {% formfields player.JS_P %}

    {% next_button %}

{% endblock %}

{% block styles %}
    <style>
    .table td{
        text-align:left;}
    </style>
{% endblock %}
